<div class="confirmation-container">
  <div class="confirmation-items">
    <h1 class="confirmation-header">Success!🎉</h1>
    <div class="confirmation-item">
      Thank you, <span class="highlight">{{ checkoutInfo?.fullName }}</span>
    </div>
    <div class="confirmation-item">
      Your $
      <span class="highlight"
        >${{ checkoutInfo?.total | number: "1.2-2" }}</span
      >
      is confirmed!
    </div>
    <div class="confirmation-item">
      Please allow 1-3 business day(s) for shipping
    </div>
    <div class="confirmation-item">
      <button routerLink="/" class="btn btn-primary">
        Back to product list
      </button>
    </div>
  </div>
</div>
